body {
    text-align: center;
    margin: 0;
}


img {
    margin: 40px 8px;
}

h1, h2, a {
    font-family: Raleway, sans-serif;
    /* color: #0d2c40; */
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

h2 {
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: Droid, serif;
    line-height: 26px;
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}

a:hover {
    border-color: #fff;
}

header {
    background-color: #f15B31;
    color: #fff;
    padding: 30px 20px;
}

nav {
    background-color: #00a6b3;
    color: #fff;
    padding: 20px 0;
}

nav a{
    border-bottom: 2px solid transparent;
}

main {
    width: 850px;
    margin: 35px auto;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 500;
}

.copyright {
    font-family: Raleway, sans-serif;
    float: left;
}

.message {
    font-family: Raleway, sans-serif;
    float: right;
}

.name {
    color: #F13B31;
    font-weight: 700;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;

}